* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.logo-image {
    width: 78px;
    padding-top: 10px;
}

.header-main {
    float: right;
    text-align: right;
}

.header-name {
    margin: 6px 0px;
}

.header-title {

}

.color1{
    color: #02b3e4;
}

.color2{
    color: #2d3c49;
}

.color3{
    color: #7d97ad;
}

.project_name {
    text-align: center;
}

.project_url
{
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

img, embed,
object, video {
    max-width: 100%;
}

.divider {
    margin: 20px 0px;
}

.hero {
    padding: 20px 0px;
}